form.tweet {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#tweet-text,
.actions,
form.tweet {
  padding: 0.5rem 0rem;
}

label,
#counter {
  font-weight: bold;
}

[contenteditable] {
  outline: none;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid;
}

button {
  border: none;
  background: #4056a1;
  padding: 0.25rem;
  color: white;
  font-family: "Bungee", cursive, sans-serif;
  outline: none;
}

#counter.over-characters {
  color: red;
}

.error {
  height: 0rem;
  color: red;
  width: 100%;
  border: red solid;
  display: flex;
  align-items: center;
  margin: 0rem;
  padding: 0.5rem;
  transform: scaleY(0);
}
.error.error-active {
  height: 4rem;
  transform: scaleY(1);
  transition: all 1s;
}
.error.error-inactive {
  height: 0rem;
  transform: scaleY(0);
  transition: all 1s;
}
